body{font-family:Arial;max-width:800px;margin:0 auto;padding:20px;}
li{margin-bottom:3px;}
ul{margin-top:20px;margin-bottom:20px;}
img{max-width:97%;margin:0 auto; margin-bottom: 20px; margin-top: 20px;border:1px solid black;}
h1,h2,h3,h4{padding-top:20px;}
pre{font-family: consolas,monospace; background-color:#F0F0F0;white-space: pre-wrap;padding:10px;}
span{font-family: consolas,monospace; background-color:#F0F0F0;}
div.sourceCode {
	background-color: rgb(240, 240, 240);
}