[Unit]
Description=MariaDB exporter for prometheus/grafana
After=network.target iptables.service mariadb.service
# Location of this file would be /etc/systemd/system/x.service (on redhat)

[Service]
Type=simple
#User=myuser
#Group=myuser
ExecStart=/mysqld_exporter --mysqld.address "127.0.0.1:3306" --config.my-cnf mysqld_exporter.cnf --collect.global_status --collect.info_schema.innodb_metrics --collect.auto_increment.columns --collect.info_schema.processlist --collect.binlog_size --collect.info_schema.tablestats --collect.global_variables --collect.info_schema.query_response_time --collect.info_schema.userstats --collect.info_schema.tables --collect.perf_schema.tablelocks --collect.perf_schema.file_events --collect.perf_schema.eventswaits --collect.perf_schema.indexiowaits --collect.perf_schema.tableiowaits
Restart=always
RestartSec=1m
IPAccounting=yes
IPAddressDeny=any
IPAddressAllow=127.0.0.0/8

# Hardening
NoNewPrivileges=true
PrivateTmp=true
PrivateMounts=true
PrivateDevices=true
ProtectSystem=full
ProtectHostname=true
ProtectKernelTunables=true
ProcSubset=pid
RestrictSUIDSGID=true
PrivateUsers=true
RootDirectory=/srv/exportermysql
BindReadOnlyPaths=/etc/resolv.conf
InaccessiblePaths=/bin /boot /lib /lib64 /media /mnt /opt /root /sbin /usr /var
StandardOutput=append:/srv/exportermysql/stdout.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
